<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="pitch_print-prod-add-to-cart-a" instance="PitchPrintInc\PitchPrint\Observer\AddToCartAfter" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="pitch_print-prod-add-to-cart-b" instance="PitchPrintInc\PitchPrint\Observer\AddToCartAfterComplete" />
    </event>
</config>